<div class="container">
<h1>Editing Comment</h1>

<%= render 'form', law: @law, comment: @comment %>

<p class="admin-controls">
<%= link_to 'Show', [@law, @comment] %> |
<%= link_to 'Back', law_path(@law) %>
</p>
</div>