<div class="container">
<h1>Editing Ministry</h1>

<%= render 'form', ministry: @ministry %>

<p class="admin-controls">
<%= link_to 'Show', @ministry %> |
<%= link_to 'Back', ministries_path %>
</p>
</div>