<% title 'Ministerien' %>

<header class="page-header">
  <div class="container">
    <h2><mark><%= @ministries.count %>&nbsp;Mi&shy;nis&shy;terien</mark></h2>
  </div>
</header>

<div class="container">
  <ul>
    <% @ministries.each do |ministry| %>
    <h3><li><%= link_to ministry.full_name, ministry %></li></h3>
    <% end %>
  </ul>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls"><%= link_to 'New Ministry', new_ministry_path %></p>
</div>
<% end %>
