<header class="page-header">
  <div class="container">
    <h2><mark><%= @laws.count %>&nbsp;Gesetze</mark> und ihre Stellungnahmen</h2>
  </div>
</header>

<div class="container">
  <ul class="law-list">
    <%= render partial: 'laws/law', collection: @laws %>
  </ul>
</div>

<% if authenticated? %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls"><%= link_to 'New Law', new_law_path %></p>
</div>
<% end %>