<header class="page-header">
  <div class="container">
    <h2><mark><%= @laws.count %>&nbsp;Gesetze</mark> und ihre Stellungnahmen</h2>
  </div>
</header>

<div class="container">
  <ul>
    <% @laws.each do |law| %>
    <li><%= link_to law.title, law %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="admin-controls"><%= link_to 'New Law', new_law_path %></p>
</div>
