$font-family-sans-serif: Arial, sans-serif;
$link-color: #000;
$link-hover-color: #000;
$link-hover-decoration: none;

@import "bootstrap-sprockets";
@import "bootstrap-custom";

html {
  height: 100%;
  background: #000;
}

body {
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
  background: linear-gradient(to bottom,
    transparent 0%, transparent 50%,
    #f2ff29 51%, #f2ff29 80%,
    transparent 81%, transparent 100%
    );
}

h1 {
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}

.main-header {
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}

.main-header .navbar {
  margin-bottom: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.main-header nav a {
  padding: 1em;
  text-decoration: none;
  font-weight: normal;
  color: #000;

  &:hover {
    background-color: #fff;
  }
}

.main-header .navbar-brand {
  height: auto;
  font-size: 1em;
}

.main-header .navbar-text {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0;
  margin-right: 0;
}

main {
  background: #F4F5F7;
}

.page-header {
  background: #FFF;
  padding: 1em 0 4em 0;
  margin: 0 0 4em 0;
  border-bottom: 0;
}

.page-header h2 {
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 1.5em;

  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  hyphens: auto;
}

.page-header mark {
  background: linear-gradient(to bottom,
    transparent 0%, transparent 50%,
    #f2ff29 51%, #f2ff29 80%,
    transparent 81%, transparent 100%
    );
  padding: 0 0.1em;
}

.page-header.law-header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.search-input-wrap {
  display: inline-block;
  border-bottom: 3px solid #000000;
}

.search-input-wrap input {
  display: inline-block;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.search-input {
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-size: 1.9em;
}

.search-input::-webkit-input-placeholder {
  color: #000;
}

.search-examples {
  margin: 2em 0 0 0;
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-size: 0.8em;
}

.search-examples a {
  color: #0000ff;
  text-decoration: none;
}

main h3 {
  margin: 0;
  padding: 0 0 30px 0;;
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-size: 1.8em;
}

ul {
  list-style: none;
}

.list-abc {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-abc li {
  display: inline-block;
  padding: 0;
}

.list-abc a {
  color: #000;
  text-decoration: none;
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-size: 1.8em;
}

.list-abc .active {
  background: linear-gradient(to bottom,
    transparent 0%, transparent 50%,
    #f2ff29 51%, #f2ff29 80%,
    transparent 81%, transparent 100%
    );
}

.abc-page {
  position: relative;
  display: inline-block;
  min-height: 12em;
}

.abc-page h4 {
  position: absolute;
  top: -0.1em;
  left: 0;
  margin: 0;
  padding: 0;
  color: #BDBFC0;
  font-family: Arial Black, Arial Black MT, sans-serif;
  font-size: 13em;
  line-height: 1;
  z-index: 0;
  overflow: hidden;
}

.abc-page .list {
  position: relative;
  margin: 8em 0 0 3em;
  z-index: 1;
}

.list {
  list-style: none;
}

.list li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.list li {
  margin-bottom: 1.6em;
}

.main-footer {
  background: #000000;
  padding: 3em 0;
  margin: 3em 0;
}

.main-footer h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 1.5em;
}

.main-footer img {
  height: 80px;
  max-width: 100%;
  margin-bottom: 1em;
}

.main-footer a:hover {
  background: none;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  padding: 0.3em 0.5em;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.admin-controls {
  margin-bottom: 0;
  padding: 0.5em 1em;
  background: #FEC8B0;
}

.law-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.law-block {
  padding: 2em 0;
  
  li{
  border-bottom: 1px #000;
  }
}

.law-ministries {
  font-size: 1.2em;
  margin: 0 0 1.2em 0;
}

.law-ministries a {
  text-decoration: none;
}

.law-block h3 {
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  hyphens: auto;
  font-size: 1.8em;
}

.law-block h3 a {
  text-decoration: none;
}

.law-header h2 {
  margin-bottom: 0;

  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  hyphens: auto;
}

.law-meta {
  margin: 2em 0 6em 0;
  font-size: 2em;
}

.comment-meta {
  padding-top: 4.5em;
  margin-bottom: 0;
}

.comment-header h2 {
  padding-top: 0;
}

.comments-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-block {
  border: 1px solid #333;
  background: #fff;
  padding: 2em;
  margin-bottom: 1em;
}

.nav-tabs {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 0;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover {
  background: #fff;
  border: 0;
}

.nav-tabs > li > a:hover {
  border-bottom: 3px solid #000;

  > span {
    background: linear-gradient(to bottom,
      transparent 0%, transparent 50%,
      #f2ff29 51%, #f2ff29 80%,
      transparent 81%, transparent 100%
      );
  }
}

.nav-tabs > li > a > span {
  display: inline-block;
  padding: 0.25em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000;
  background: #fff;
  border: 0;
  border-bottom: 3px solid #000;

  > span {
    background: linear-gradient(to bottom,
      transparent 0%, transparent 50%,
      #f2ff29 51%, #f2ff29 80%,
      transparent 81%, transparent 100%
      );
  }
}

.law-tab-content {
  padding-top: 2em;
}

.tab-pane:focus {
  outline: none;
}

.source-link {
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  hyphens: auto;
}
